@charset "utf-8";
/* ### 기본 스타일 커스터마이징 시작 ### */

#poll a.btn_admin {} /* 관리자 전용 버튼 */
#poll a.btn_admin:focus, #poll a.btn_admin:hover {}

#poll_result .tbl_frm table {}
#poll_result .tbl_frm .frm_info {}
#poll_result .tbl_frm .frm_address {}
#poll_result .tbl_frm .frm_file {}
#poll_result .tbl_frm caption {}

#poll_result .tbl_frm01 {}
#poll_result .tbl_frm01 th {}
#poll_result .tbl_frm01 td {}
#poll_result .tbl_frm01 textarea, #poll_result tbl_frm01 .frm_input {}
#poll_result .tbl_frm01 textarea {}
#poll_result .tbl_frm01 a {}

/* 필수입력 */
#poll_result .required, #poll_result textarea.required {}

#poll_result .btn_confirm {} /* 서식단계 진행 */
#poll_result .btn_submit {}
#poll_result button.btn_submit {}
#poll_result .win_btn {} /* 새창용 */
#poll_result .win_btn button {}
#poll_result .win_btn input {}
#poll_result .win_btn a {}
#poll_result .win_btn a:focus, #poll_result .win_btn a:hover {}

/* ### 기본 스타일 커스터마이징 끝 ### */

/* 설문조사 스킨 */
#poll {position:relative;margin:10px 0;border:1px solid #d2d9e6;background:#fff}
#poll h2 {position:relative;padding:15px;text-align:left;color:#0b0b0b;font-size:1.167em;border-bottom:1px solid #d9dee9}
#poll header .btn_admin {position:absolute;top:10px;right:10px;height:25px;padding:0 5px;line-height:25px;border-radius:3px;text-align:center}
#poll ul {list-style:none;border:1px solid #d9e3e9}
#poll li {padding:10px;background:#f5f9fb;border-bottom:1px solid #e6edf1}
#poll li input {display:inline-block;margin-right:5px;vertical-align:middle}
#poll li label {vertical-align:baseline}
#poll li:hover {background:#dfecea;border-left:3px solid #17bb9c}
#poll li:last-child {border-bottom:0}
#poll .poll_con {padding:0 15px 15px}
#poll .poll_con p {padding:15px 0;font-weight:bold;color:#3598dc}
#poll_btn {padding-top:10px;text-align:center}
#poll_btn:after {display:block;visibility:hidden;clear:both;content:""}
#poll_btn .btn_poll {float:right;display:inline-block;height:35px;line-height:30px;padding:0 10px;border:1px solid #1585d1;border-radius:3px}
#poll_btn .btn_result {float:left;display:inline-block;height:35px;line-height:35px;padding:0 10px;font-weight:bold;border-radius:3px}

/* 설문조사 결과 (새창) */
#poll_result {}
#poll_result section {}
#poll_result .tbl_wrap {margin:0}
#poll_result h1 {display:inline-block}
#poll_result a {}
#poll_result .sv_member,
#poll_result .sv_guest {font-weight:bold}
#poll_result .poll_all {float:right;display:inline-block;margin:15px 20px;padding:0 10px;line-height:20px;font-size:0.92em;color:#7e90aa;background:#fff}
#poll_result_list {margin:0 auto 20px;clear:both;border:1px solid #dbdbdb;background:#fff}
#poll_result_list h2 {margin:0;font-size:1.25em;padding:15px 20px;border-bottom:1px solid #ddd;text-align:left}
#poll_result_list dt {margin-right:5%;color:#e8180d;text-align:right}
#poll_result_list ol {margin:0;padding:0 20px}
#poll_result_list li {position:relative;margin:20px 0;list-style-position:inside;font-weight:bold}
#poll_result_list .poll_percent {position:absolute;top:0;right:0;color:#415b72;font-weight:bold}
.poll_result_graph {position:relative;margin:5px 0 5px 0;height:22px;background:#edf0f7;border-radius:3px;
-moz-box-shadow:inset 0 1px 8px -5px #000;
-webkit-box-shadow:inset 0 1px 8px -5px #000;
box-shadow:inset 0 1px 8px -5px #000}
.poll_result_graph span {position:absolute;top:0;left:0;height:22px;background:#5488e8;border-bottom:1px solid #1c6fb6;border-radius:3px;white-space:nowrap}
.poll_result_graph span .poll_cnt {display:none;position:absolute;top:28px;right:0;padding:0 7px;line-height:22px;font-size:0.92em;text-align:right;background:#fff;color:#8fa0af;border:1px solid #d7d9e3;border-radius:3px;
-moz-box-shadow:0 0 5px -1px #ccc;
-webkit-box-shadow:0 0 5px -1px #ccc;
box-shadow:0 0 5px -1px #ccc}
.poll_result_graph span:hover .poll_cnt {display:block}
.poll_result_graph span .poll_cnt:before {content:"";position:absolute;top:-8px;left:50%;margin-left:-4px;width:0;height:0;border-style:solid;border-width:1px 5px 7px 5px;border-color:transparent transparent #d7d9e3 transparent}
.poll_result_graph span .poll_cnt:after {content:"";position:absolute;top:-6px;left:50%;margin-left:-3px;width:0;height:0;border-style:solid;border-width:0 4px 6px 4px;border-color: transparent transparent #fff transparent}
#poll_result_cmt h2  {position:absolute;font-size:0;line-height:0;overflow:hidden}
#poll_result_cmt h3 {margin:0;font-size:1.25em;padding:0 0 15px;margin:0 0 15px;border-bottom:1px solid #ddd;text-align:center}
#poll_result_cmt article {position:relative;margin:15px 0;border-bottom:1px solid #d9dee9}
#poll_result_cmt h1 {position:absolute;margin:0;padding:0;border:0;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#poll_result_cmt header {margin:0 0 5px}
#poll_result_cmt .poll_datetime {display:inline-block;font-size:0.92em;color:#888d92}
#poll_result_cmt .profile_img img {border-radius:50%}
#poll_result_cmt p {margin:10px 0;line-height:1.5em}
#poll_result_cmt fieldset {margin-bottom:0;text-align:left}
#poll_result_cmt fieldset p {margin:0 0 15px;padding:3px 0 0px;text-align:left}
#poll_result_cmt footer {text-align:right}
#poll_result_cmt .btn_submit {float:right;padding:0 20px}

.poll_result_wcmt {margin-bottom:10px}
.poll_result_wcmt h3 {padding:15px 10px;border:1px solid #d9dee9;border-bottom:0;background:#fff}
.poll_result_wcmt h3 span {padding:2px 3px;background:#17bb9c;border:1px solid #08ae8f;color:#fff}
.poll_result_wcmt textarea {height:80px;border-radius:0}
.poll_result_wcmt .poll_result_guest {margin-top:10px}
.poll_result_wcmt .full_btn_submit {margin-top:10px}

.poll_cmt_del:after {display:block;visibility:hidden;clear:both;content:""}
.poll_cmt_del a {display:inline-block;float:right;margin-left:5px;color:#49857c;font-size:1.4em}
.poll_cmt_del a:hover {color:#5488e8}
.poll_cmt_del i {display:inline-block;width:30px;padding:5px;background:#f1f3f6;border:1px solid #d9dee9;border-bottom:0;border-radius:3px 3px 0 0;text-align:center}

#poll_result_oth {padding:20px 0 30px}
#poll_result_oth h2 {padding:0 0 10px}
#poll_result_oth ul {margin:0;padding:0;list-style:none;border:1px solid #ddd;background:#fff;border-top:0}
#poll_result_oth ul li {position:relative;border-top:1px solid #ddd;line-height:20px}
#poll_result_oth a {display:block;padding:10px}
#poll_result_oth li span {position:absolute;bottom:10px;right:15px;color:#777;font-size:0.92em}
